@model List<Company.DomainModels.Employees>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Employee Home



@{ var message = TempData["success"];}
@{ var Failure = TempData["failure"];}


<script>
    var message = '@message';
    if (message) {
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: message,
            showConfirmButton: false,
            timer: 1500
        })
    }
</script>

<script>
    var failure = '@Failure';
    if (failure) {
        Swal.fire({
            position: 'top-end',
            icon: 'error',
            title: failure,
            showConfirmButton: false,
            timer: 1500
        })
    }
</script>
