@model Company.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form class="box" method="post" action="/account/login">
                        <h1>Login</h1>
                        <p class="text-muted"> Please enter your login and password!</p>
                        @Html.TextBoxFor(m => m.UserId, new { placeholder = "Username" })
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })


                        <input type="submit" name="" value="Login">
                        <div class="text-danger">
                            @Html.ValidationSummary()
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





